@model RockAnalysis.GeneratedImageGetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GeneratedImageGetModel</h4>
    <div class="row">
        <div class="col-md-10">
            <div id="stl_cont" style="various color and size stuff">Трехмерная визализация</div>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBinarized)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBinarized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenerationNetworkId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenerationNetworkId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Porosity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Porosity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinElementSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinElementSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxElementSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxElementSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgElementSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgElementSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Сohesion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Сohesion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CavernsVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CavernsVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChanelsVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChanelsVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Permeability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Permeability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DimX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DimX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DimY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DimY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DimZ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DimZ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoxelArrayFormat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoxelArrayFormat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>



<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
